body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body,
.footer {
  background-color: #f0f1f4;
}

.header {
  display: flex;
  background-color: #ffff;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.nav--links li {
  list-style: none;
}

.nav .nav--links {
  display: flex;
  align-items: center;
  gap: 2em;
}

.card {
  width: 255px;
  padding: 1em;
  margin: 1.8em;
  background-color: #ffff;
  border-radius: 0.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-logo {
  width: 100%;
  margin-bottom: 0.6em;
}

.card h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.6em;
}

.shimmer__card__logo {
  padding: 2.4em;
  background-color: #e5e4e5;
}

.shimmer__card__title {
  padding: 0.4em;
  background-color: #e5e4e5;
}

#login__btn {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 6px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#login__btn:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

#login__btn:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

#login__btn:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}
#logout__btn {
  appearance: none;
  backface-visibility: hidden;
  background-color: #e62142;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(200, 31, 62, 0.2) 0 6px 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 6px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#logout__btn:hover {
  background-color: #8c081e;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

#logout__btn:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

#logout__btn:hover {
  box-shadow: rgba(200, 31, 62, 0.2) 0 6px 12px;
}
